@media only screen and (max-width:995px) {
  #tableData tbody,
  #tableData tr,
  #tableData td {
      display: block;
  }
  #tableData thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }
  #tableData td {
      position: relative;
      padding-left: 50%;
      border: none;
      border-bottom: 1px solid #eee;
  }
  #tableData td:before {
      content: attr(data-title);
      position: absolute;
      left: 6px;
      font-weight: bold;
  }
  #tableData tr {
      border-bottom: 2px solid rgb(14, 28, 219);
      margin-bottom: 10px;
  }
}